<!DOCTYPE html>
<html lang="bg" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <link href="./recources/img/favicon.ico" rel="shortcut icon" type="image/ico"/>
    <title>Online crediting | NemesisTPP</title>
    <link trel="stylesheet" type="text/css" href="./resources/css/default+bg.css"/>
    <link rel="stylesheet" type="text/css" href="./resources/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="./resources/css/default_purged.css"/>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet" type='text/css'/>
    <script type="text/javascript" src="./resources/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="./resources/js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="./resources/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="./resources/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="./resources/js/Bootstrap-Youtube-Popup-Player-Plugin.js"></script>
    <script type="text/javascript" src="./resources/js/Shared.js"></script>
    <script type="text/javascript" src="./resources/js/nouislider.min.js"></script>
</head>
<body class="wrapper clearfix" cz-shortcut-listen="true">
<nav class="navbar navbar-default  navbar-static-top" id="main-nav">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href=" ">
                <img alt="NemesisTPP" src="./resources/img/logo.png"/>
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
            <ul class="nav navbar-nav ">
                <li>
                    <a href=" ">About us</a>
                </li>
                <li>
                    <a href=" ">How to pay?</a>
                </li>
                <li>
                    <a href=" ">Ask a question</a>
                </li>
                <li>
                    <a href=" ">Got a problem?</a>
                </li>
                <li>
                    <a href=" ">Contacts</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right hidden-xs hidden-sm">
                <li>
                    <div id="companyPhone">
                        <div><i class="fa fa-phone orange-text"></i>010010010</div>
                        <div><i class="fa fa-phone orange-text"></i><span class="phonestar">*</span>1010</div>
                    </div>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div>
</nav>
<script>
    var activeTab = "plus";


</script>
<section>
    <div class="background-blue-gradient">
        <div class="container">
            <nav class="productSelector">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist" id="contractFormInitTabs">
                    <li role="presentation " onclick="return activeTab = 'plus';" class="plus active">
                        <a id="_url4" href="#plus" aria-controls="plus" role="tab" data-toggle="tab">
                            <i class="fa fa fa-plus" style="line-height: 20px;"> <strong>My Bank Accounts</strong><br/>Check your balance and transfer money
                                with NemesisTpp</i>
                        </a>
                    </li>
                    <li role="presentation" class="kdz" onclick="return activeTab = 'salary';">
                        <a id="_url4" href="#salary" aria-controls="salary" role="tab" data-toggle="tab">
                            <div class="row">
                                <i class="fa fa fa-heart" style="line-height: 20px; padding-left:10px"> <strong>NemesisTPP Loans</strong><br/>Check our new
                                    credit options!</i>
                                <div class="col-sm-6 credit-period" style="float:right"><sup>up to</sup> EUR 9999.99</div>
                            </div>
                        </a>
                    </li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="plus">
                        <table style="width:100%;height:100%;">
                            <thead>
                            <tr>
                                <th colspan="4" height="100" style="text-align:center;border-bottom:1px solid #e0dddd"><h1>My Bank Accounts</h1></th>
                            </tr>
                            <tr>
                                <th colspan="4" height="20" style="color:red;text-align:center;"><h5 th:if="${param.msg != null}" th:text="${param.msg[0]}">
                                    Insufficient balance</h5></th>
                            </tr>
                            <TR>
                                <TH style="border-bottom:1px solid #e0dddd;text-align:center">Label</TH>
                                <TH style="border-bottom:1px solid #e0dddd;text-align:center">IBAN</TH>
                                <th style="border-bottom:1px solid #e0dddd;text-align:center">Balance</th>
                                <TH style="border-bottom:1px solid #e0dddd;text-align:center">Bank</TH>
                            </TR>
                            </thead>
                            <tbody>
                            <th:block th:each="bankAccount : ${bankAccounts}">
                                <tr>
                                    <td style="text-align:center" th:text="${bankAccount.value.label}">...</td>
                                    <td style="text-align:center" th:text="${bankAccount.value.code}">...</td>
                                    <td style="text-align:center" th:text="${bankAccount.value.balance}">...</td>
                                    <td style="text-align:center"><img src="https://dk4bbvhtxx00t.cloudfront.net/samplestore-bank/content/banner/bank-logo.svg"/>
                                    </td>
                                </tr>
                            </th:block>
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="4" style="text-align:center;border-top:1px solid #e0dddd" height="100">
                                    <form action="/client/add" method="GET">
                                        Add a new account:
                                        <select id="bank" onchange="this.form.submit()" class="form-control">
                                            <option>--Please select a bank--</option>
                                            <option value="dskbank">DSK</option>check
                                            <option value="unicredit">Unicredit</option>
                                            <option value="postbank">Postbank</option>
                                        </select>
                                    </form>
                                </td>
                            </tr>
                            <tr class="bottom background-light">
                                <td colspan="4" style="text-align:center;border-top:1px solid #e0dddd">
                                    <form action="/client/transfer" method="GET">
                                        Transfer <input type="text" placeholder="Amount" class="form-control prevalid" name="amount"/>
                                        <select class="form-control" name="currency">
                                            <option value="BGN">BGN</option>
                                            <option value="EUR">EUR</option>
                                        </select>
                                        from
                                        <select class="form-control" name="from">
                                            <option>--Please select an account--</option>
                                            <option th:each="choice : ${bankAccounts}" th:value="${choice.value.code}" th:text="${choice.value.label}"></option>
                                        </select>
                                        into
                                        <select class="form-control" name="to">
                                            <option>--Please select an account--</option>
                                            <option th:each="choice : ${bankAccounts}" th:value="${choice.value.code}" th:text="${choice.value.label}"></option>
                                        </select>
                                        <input type="submit" value="Now" class="btn btn-primary btn-lg" style="width:100px"/>
                                    </form>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="salary">
                        <form method="post" action=" " enctype="multipart/form-data" id="creditForm2" novalidate="novalidate"
                              inspfaactive="true">
                            <div class="clearfix">
                                <!--Contract amount-->
                                <div class="col-md-6">
                                    <div class="text-center credit-tabs">
                                        <label for="amount">Amount</label>
                                        <input id="plusAmount" name="amount_plus" value="EUR 1000" class="ContractAmount no-skin text-center valid"
                                               aria-invalid="false" type="number"/>
                                    </div>
                                    <div id="plusAmountSlider" class="noUi-target noUi-ltr noUi-horizontal noUi-background">
                                        <div class="noUi-base">
                                            <div class="noUi-origin" style="left: 19.5652%;">
                                                <div class="noUi-handle noUi-handle-lower"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="slider-helpers">
                                        <span class="pull-left">EUR 100</span>
                                        <span class="pull-right">EUR 10000</span>
                                    </div>
                                </div>
                                <!--Contract period-->
                                <div class="col-md-6">
                                    <div class="text-center credit-tabs">
                                        <label for="period">Time Period</label>
                                        <input id="plusPeriod" name="period_plus" value="5 months" class="ContractPeriod no-skin two-digit text-center"
                                               type="number"/>
                                    </div>
                                    <div id="plusPeriodSlider" class="noUi-target noUi-ltr noUi-horizontal noUi-background">
                                        <div class="noUi-base">
                                            <div class="noUi-origin" style="left: 9.52381%;">
                                                <div class="noUi-handle noUi-handle-lower"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <span id="msc"></span>
                                    <div class="slider-helpers">
                                        <span class="pull-left">1 month</span>
                                        <span class="pull-right">25 months</span>
                                    </div>
                                </div>
                            </div>
                            <label class="col-md-12" id="inviteMsg"></label>
                            <div class="bottom background-light">
                                <div class="clearfix">
                                    <div class="col-md-9">
                                        <div class="col-md-6">
                                            E-mail: <input id="email_plus" name="email_plus" class="form-control prevalid" placeholder="E-mail"
                                                           data-toggle="tooltip" data-placement="bottom" data-html="true" type="email"/></div>
                                        <div class="col-md-6">
                                            Phone: <input id="phone_plus" name="phone_plus" class="form-control number prevalid filter-only-numeric"
                                                          placeholder="Phone" maxlength="10" pattern="[0-9]*" data-toggle="tooltip" data-placement="bottom"
                                                          data-html="true" type="text"/></div>
                                    </div>
                                    <div class="col-md-3 col-xs-6 btn-small-form-plus">
                                        <button type="submit" onclick="" class="btn btn-primary btn-lg first-step">Continue</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <aside>
                    <div class="col-md-12 home-promo">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                            </ol>

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner" role="listbox">
                                <div class="item active">
                                    <div class="row">
                                        <div class="home-promo">
                                            <div class="col-sm-5">
                                                <div class="row">
                                                    <div class="col-sm-5 head">
                                                        <p class="h2 text-right">Use only the best option for you!</p>
                                                    </div>
                                                    <div class="col-md-7 hidden-xs hidden-sm"><img src="./resources/img/promo2.png"/></div>
                                                </div>
                                            </div>
                                            <div class="col-sm-7">
                                                <p class="h3">Get now your promotional loan!</p>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <ul class="blue">
                                                            <li>fast and easy</li>
                                                            <li>wherever you are</li>
                                                            <li>100% online</li>
                                                        </ul>
                                                    </div>
                                                    <p>&nbsp;</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </aside>
            </nav>
        </div>
        <div id="mousetooltip" class="mousetooltip hidden-xs" style="width: 210px; z-index: 99999999">
            <div id="msc-old"></div>
        </div>
    </div>
</section>
<section class="clearfix">
    <article class="why-nemesistpp clearfix">
        <div class="col-md-12 text-center">
            <h1>Why to choose NemesisTPP?</h1>
        </div>
        <div class="container">
            <div class="col-md-4 col-sm-12">
                <div class="row">
                    <div class="col-xs-3 badge"><i class="fa fa fa-trophy"></i></div>
                    <section class="col-xs-9 left">
                        <p class="h3">Best option<sup>*</sup></p>
                        <p>World leader in online crediting for 2016</p>
                        <small><sup>*</sup>according to bestloan.com</small>
                    </section>
                </div>
            </div>
            <div class="col-md-4 col-sm-12" data-href="#bnbExplainer" style="cursor:pointer">
                <div class="row">
                    <div class="col-xs-3 badge"><i class="fa fa fa-certificate"></i></div>
                    <section class="col-xs-9 left">
                        <p class="h3">Registration</p>
                        <p>NemesisTPP is a registered institution for online crediting with № NTPP00010.</p>
                    </section>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="row">
                    <div class="col-xs-3 badge"><i class="fa fa fa-search"></i></div>
                    <section class="col-xs-9 left">
                        <p class="h3">Transparency</p>
                        <p>Fully transparent terms in all contracts before you sign.</p>
                    </section>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="row">
                    <div class="col-xs-3 badge"><i class="fa fa fa-shield"></i></div>
                    <section class="col-xs-9 left">
                        <p class="h3">Maximum security</p>
                        <p>High level of security for your personal data.</p>
                    </section>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="row">
                    <div class="col-xs-3 badge"><i class="fa fa fa-plane"></i></div>
                    <section class="col-xs-9 left">
                        <p class="h3">Access from anywhere</p>
                        <p>Apply for your loan with your ID only - wherever you are!</p>
                    </section>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="row">
                    <div class="col-xs-3 badge"><i class="fa fa fa-money"></i></div>
                    <section class="col-xs-9 left">
                        <p class="h3">No taxes</p>
                        <p>Free application - no additional taxes and hidden tariffs.</p>
                    </section>
                </div>
            </div>
            <div class="col-md-12">
                <nav class="row clearfix" id="nav-bottom">
                    <div class="container">
                        <div class="col-md-3"><a class="btn" href="">Personal Data</a></div>
                        <div class="col-md-3"><a class="btn" href="">Business Ethics</a></div>
                        <div class="col-md-3"><a class="btn" href="">Terms and Conditions</a></div>
                        <div class="col-md-3"><a class="btn" href="">Charity</a></div>
                    </div>
                </nav>
            </div>
        </div>
    </article>
    <div>&nbsp;</div>
</section>
<section class="clearfix">
    <article class="hidden-xs hidden-sm">
        <div class="col-md-8 col-md-offset-2">
            <p class="h2 happy text-center">What do our customers say about us?</p>
            <p class="happy text-center">NemesisTPP is a client-oriented company for online crediting. All our decisions relate to our customers' needs. Take a look at what they think about us:</p>
        </div>
        <div id="carousel-testimonials" class="container">
            <div class="col-md-4 text-center">
                <img src="./resources/img/testimonial1.jpg" width="350" height="197" alt="NemesisTPP"/>
                <div class="text-center">
                    Happy customer 1
                </div>
            </div>
            <div class="col-md-4 text-center">
                <img src="./resources/img/testimonial2.jpg" width="350" height="197" alt="NemesisTPP"/>
                <div class="text-center">
                    Happy customer 2
                </div>
            </div>
            <div class="col-md-4 text-center">
                <img src="./resources/img/testimonial3.jpg" width="350" height="197" alt="NemesisTPP"/>
                <div class="text-center">
                    Happy customer 3
                </div>
            </div>
        </div>
    </article>
</section>
<section class="clearfix hidden-xs hidden-sm">
    <div class="row background-blue image clearfix">
        <div class="container">
            <div class="col-md-12 text-center">
                <div class="col-md-5 newsletter">
                    <p class="h2">Subscribe and get your discount</p>
                </div>
                <div class="col-md-7 newsletter" id="newsletterHolder">
                    <form enctype="multipart/form-data" id="newsletterForm" novalidate="novalidate" inspfaactive="true">
                        <!--User name-->
                        <div class="col-md-4">
                            <input type="text" id="name" name="name" class="form-control" onkeypress="return event.charCode &gt; 64 || event.charCode == 32 || event.charCode == 45 || event.keyCode == 8
                            || event.keyCode == 37 || event.keyCode == 39 || event.keyCode == 46" placeholder="Name and Surname"/></div>
                        <!--User email-->
                        <div class="col-md-4">
                            <input type="email" id="email" name="email" class="form-control prevalid" required="required" placeholder="E-mail"
                                   aria-required="true"/></div>
                        <input type="hidden" id="csrf" name="csrf" value="CxXP6mYgC16CB0Sv"/>
                        <div class="col-md-4">
                            <button class="btn btn-primary btn-lg" type="submit">Subscribe now!</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="col-md-12">
        <p class="h2 happy text-center">News and updates</p>
    </div>
    <div class="container">
        <div class="col-md-4 col-sm-6 articleListingitem">
            <div class="row">
                <div class="top">
                    <a class="articleImageLink" href="">
                        <img src="./resources/img/article6.jpg" class="img-responsive"/>
                    </a>
                    <div class="col-xs-12 articleSummaryTitle">
                        <a class="articleTitleLink" href="h">
                            <h4>30 days with 0% interest rate!</h4>
                        </a>
                    </div>
                </div>
                <div class="col-md-12 articleSummaryBody">
                    <p>Try now the NemesisTPP promotional loans with 30 days of 0% interest rates.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 articleListingitem">
            <div class="row">
                <div class="top">
                    <a class="articleImageLink" href=" ">
                        <img src="./resources/img/article1.jpg" class="img-responsive"/>
                    </a>
                    <div class="col-xs-12 articleSummaryTitle">
                        <a class="articleTitleLink" href="">
                            <h4>Back-to-school loans</h4>
                        </a>
                    </div>
                </div>
                <div class="col-md-12 articleSummaryBody">
                    <p>Get ready for school!</p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 hidden-xs hidden-md hidden-lg"></div>
        <div class="col-md-4 col-sm-6 articleListingitem">
            <div class="row">
                <div class="top">
                    <a class="articleImageLink" href="">
                        <img src="./resources/img/article2.jpg" class="img-responsive"/>
                    </a>
                    <div class="col-xs-12 articleSummaryTitle">
                        <a class="articleTitleLink" href="">
                            <h4>Express baby loans</h4>
                        </a>
                    </div>
                </div>
                <div class="col-md-12 articleSummaryBody">
                    <p>Get help from NemesisTPP when about to become a parent.</p>
                </div>
            </div>
        </div>
        <div class="col-md-12 hidden-xs hidden-sm"></div>
        <div class="col-md-4 col-sm-6 articleListingitem">
            <div class="row">
                <div class="top">
                    <a class="articleImageLink" href="">
                        <img src="./resources/img/article5.jpg" class="img-responsive"/>
                    </a>
                    <div class="col-xs-12 articleSummaryTitle">
                        <a class="articleTitleLink" href="">
                            <h4>How to save money?</h4>
                        </a>
                    </div>
                </div>
                <div class="col-md-12 articleSummaryBody">
                    <p>Start saving smartly.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 hidden-xs hidden-md hidden-lg"></div>
        <div class="col-md-4 col-sm-6 articleListingitem">
            <div class="row">
                <div class="top">
                    <a class="articleImageLink" href="">
                        <img src="./resources/img/article3.png" class="img-responsive"/>
                    </a>
                    <div class="col-xs-12 articleSummaryTitle">
                        <a class="articleTitleLink" href="">
                            <h4>We support talents!</h4>
                        </a>
                    </div>
                </div>
                <div class="col-md-12 articleSummaryBody">
                    <p>Find out more on our talents-oriented program.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 articleListingitem">
            <div class="row">
                <div class="top">
                    <a class="articleImageLink" href="">
                        <img src="./resources/img/article4.jpg" class="img-responsive"/>
                    </a>
                    <div class="col-xs-12 articleSummaryTitle">
                        <a class="articleTitleLink" href="">
                            <h4>Do we save while buying online?</h4>
                        </a>
                    </div>
                </div>
                <div class="col-md-12 articleSummaryBody">
                    <p>Statistics talk: how much money we could save while shopping online</p>
                </div>
            </div>
        </div>
        <div class="col-md-12 hidden-xs hidden-sm"></div>
        <div class="col-sm-12 hidden-xs hidden-md hidden-lg"></div>
    </div>
</section>
<footer class="col-md-12 background-light">
    <div class="container">
        <nav class="footernav">
            <div class="col-md-12 links">
                <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
                    <div class="footer-nav-head"><a href=""><i class="fa fa-info-circle"></i> Services</a></div>
                    <div class="foot-links"><a href="">NemesisTPP Pro Loans</a><a href="">NemesisTPP Max Loans</a><a href="">Got a question?</a><a href="">Our
                        mobile app</a></div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
                    <div class="footer-nav-head"><a href=""><i class="fa fa-heart"></i> About us</a></div>
                    <div class="foot-links"><a href="">Partners</a><a href="">Terms and Conditions</a><a href="">Tariffs</a><a href="">Feedback</a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
                    <div class="footer-nav-head"><a href=""><i class="fa fa-info-circle"></i> Navigation</a></div>
                    <div class="foot-links"><a href="">Contacts</a><a href="">How to pay?</a><a href="">Careers</a><a href="">Charity</a></div>
                </div>
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-offset-0 col-md-3 col-lg-3 social-container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="search-form pull-right">
                                <form action=" " autocomplete="off">
                                    <div class="input-group">
                                        <input type="text" name="q" class="form-control" id="input-value" placeholder="Type..."/>
                                        <div class="input-group-btn">
                                            <button class="btn btn-default send-button" type="submit" disabled="">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-xs-12 text-center hidden-md hidden-lg">
                            <figure class="certificates">
                                <div>
                                    <div data-href="#bnbExplainer" class="bnb-logo"></div>
                                </div>
                            </figure>
                        </div>
                        <div class="col-xs-12">
                            <ul class="pull-right" id="social-uls">
                                <li>
                                    <a target="_blank" href="">
                                        <i class="fa fa-facebook fa-2x"></i>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="">
                                        <i class="fa fa-twitter fa-2x"></i>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="">
                                        <i class="fa fa-google-plus fa-2x"></i>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="">
                                        <i class="fa fa-youtube fa-2x"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div class="col-xs-12 col-sm-12 text-center">
        <div class="copyright"><span class="copyright">All rights reserved! © 2017 NemesisTPP</span><br/><br/><br/></div>
    </div>
</footer>
<div class="cookiesAccept">
    <div class="col-md-12 cookies-text background-lighter">
        <div class="container">
            <div class="col-md-6 col-lg-7">
                <p>NemesisTPP uses cookies to distinguish you from other users of our website. This helps us to provide you with a good experience when
                    you browse our website and also allows us to improve our site. By continuing to browse the site, you are agreeing to our use of cookies.</p>
            </div>
            <div class="col-md-4">
                <div class="col-md-6">
                    <button class="btn btn-primary" id="cookieAccept">I agree</button>
                </div>
                <div class="col-md-6">
                    <a href=" " class="btn btn-defaults">Learn more</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>